* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: honeydew;
}

#nav-bar {
    margin: 10px 10px 0 auto;
    float: right;
    position: fixed;
    text-align: right;
    width: 100%;    
}

nav a {
    padding: 40px;
    margin: 20px;
    font-size: x-large;
    font-weight: 700;
}

nav a:hover {
    color: maroon;
}

h1, h4 {
    text-align: center;

    padding: 25px;
}

iframe {
    display: block;
    margin: auto;
}

form {
    margin: 0px 300px 0px 300px;
    border: 3px solid black;
}

#email, #submit {
   margin: inherit;
   padding-right: 10px;
}

.container_Tips {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    text-align: center;
    margin: 50px 300px;
}

.container_ingreds{
    display: flex;
    justify-content: space-evenly;
}

#meals {
    text-align: center;
    padding: 25px;
}

footer {
    margin-top: 20px;

    text-align: center;
}

@media screen and (max-width: 1325px) {
    header, #nav-bar {
        float: none;
        width: 100%;
    }

    input {
        border: 5px solid black;
        margin: 5px;
        text-align: center;
    }
}