* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

#nav-bar {
    width: 50%;
    margin: 10px 20px 0 auto;
    float: right;

    text-align: right;
}

nav a {
    padding: 40px;
    margin: 20px;
    font-size: x-large;
    font-weight: 700;
}

nav a:hover {
    color: maroon;
}

h1, h4 {
    text-align: center;

    padding: 25px;
}

iframe {
    display: block;
    margin: auto;
    border: dotted red 30px;
}

form {
    margin: 0px 300px 0px 300px;
}

#email {
    margin-left: 250px;
}

.container_Tips {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    text-align: center;
    margin: 50px 300px;
}

.container_ingreds{
    display: flex;
    justify-content: space-evenly;
    border: solid olive 20px;
}

.recipe {
    border: solid yellow 30px;
}

footer {
    margin-top: 20px;

    text-align: center;
}